*.aux
*.log
*.dvi
*.bbl
*.blg
*.pdf
*.toc
*.nlo
*.synctex.gz
*.acn
*.acr
*.alg
*.bcf
*.lof
*.lot
*.tex.bak
*.xdy
*.cls.bak
*.out
*.run.xml


Introduction/Figures
Chapter1/Figures/
Chapter2/Figures/
Chapter3/Figures/
Chapter4/Figures/
Chapter5/Figures/
Chapter6/Figures/
Supplement/Figures/
./Figures
